<%- include('layouts/html_start.ejs') %>

<%- include('layouts/layout.ejs') %>

<section class="section">
    <div class="section-header">
        <h1>Edit Department</h1>
    </div>
    <p class="section-lead">
        Departments can be edited on this page
    </p>
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h4>Edit Department Details</h4>
                    </div>
                    <form id="editDep" depID=<%= doc._id %>  method="POST" class="needs-validation" novalidate="">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Name</label>
                                <input id="name" type="text" name="name" class="form-control" value="<%= doc.name %>"
                                    required="">
                                <div class="invalid-feedback">
                                    Name is required
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Info</label>
                                <input id="info" type="text" name="info" class="form-control" value="<%= doc.info %>"
                                    required="">
                                <div class="invalid-feedback">
                                    Info is required
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button type="submit" id="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('layouts/scripts.ejs') %>

<script>

    $('#editDep').submit(function (event) {
        if ($('#editDep')[0].checkValidity() === false) {
            console.log('Validation Failed');
            return;
        } else {

            event.preventDefault();
            var departementID  = $(this).attr('depID')
            var name = $('#name').val();
            var info = $('#info').val();

            console.log('name: ', name);
            console.log('info: ', info);

            $.ajax({
                url: "/editDepartment",
                type: "POST",
                data: {
                    name,
                    info,
                    departementID
                }
            }).done(function (data) {
                if (data.status === "success") {
                    iziToast.success({
                        title: 'Success!',
                        message: data.msg,
                        position: 'topCenter'
                    });

                } else {
                    iziToast.error({
                        title: 'Failed!',
                        message: data.msg,
                        position: 'topCenter'
                    });
                }
                setTimeout(() => {
                    location.reload();
                }, 2000);
            })

        }
    })


</script>

<%- include('./layouts/html_end.ejs') %>